


.btn{
  background-color: black;
  color: white;
  border-color: black;
}

.btn:hover{
  cursor: pointer;
  color: red;
  background-color: white;
}



#container{
  color:white !important;
  background-image: linear-gradient(to bottom, black, rgba(169, 169, 169, 0.499)) !important;
  background-size: cover !important;
}

#top{
  color: white;
}



.row{
  text-align: center;

}


p, h1,h2{
  font-family: 'Times New Roman', Times, serif;
}