
<!DOCTYPE html>
{% load static %}
<html>

<head>

	<title> Sam's Webpage </title>
	<link href = "/static/stylesheet.css" rel = "stylesheet" type = "text/css">
	
</head>



<body>
	
	<div id = "bio">
		<header><div class="header" id = "top"><h1> Welcome to my webpage</h1></div></header>
		
		
<section> <p> <img style= "-webkit-filter: grayscale(100%);filter: grayscale(100%);" src ="{%static 'assets/photo.jpg'%}"> <br><b>Bio:</b> I grew up in Zimbabwe and through exposure to science fiction, I developed an interest in the sciences. Living in such a poor country, there was rarely stable internet connections. As a result, when the opportunity arrived to play around on the internet I took full advantage. I learnt how to do many things online and even learnt how to play Chess with the computer. 
<br>
<br>
I always saw science as a means to improve the quality of life around me. Presently, Computer Science is my passion. I hope to become apt enough to apply Computer Science in a way that optimises and improves aspects of my country. Through this, I hope to gain enough experience to enter more advanced areas; such as aiding in the design and programming of space systems, satellites, and rovers.</p>


<p><b>Full Name:</b> Tinaye Samuel Chibanda
<br>
<b>Contact:</b> tinayesamuelchibanda@gmail.com
<br>
<b>LinkedIn:</b> <a target = "_blank" href = "https://www.linkedin.com/in/tinaye-samuel-chibanda-825280257" /> More information about me. 
</a>
<br>
<b>Github:</b> <a target = "_blank" href = "https://www.github.com/TinayeSC/My_Projects" /> Some projects I have done.
</a>
<p><b>My Work:</b><a href="#my_work">Some of my writing</a></p>

</section>
</div>

		

	


<h1> Education</h1>
<ul>
	
	<li>Harare International School - IB Diploma </li>
	<p> Studying at this school inspired me to find out what my interest were and taught me how to craft essential skills, such as work ethic and discipline. </p>
	<p> Classes:</p>
	<ul>
		<li> Language and Literature HL</li>
		<li> Chemistry HL</li>
		<li> Business Management HL</li>
		<li> Spanish</li>
		<li> Mathematics </li>
		<li> Environmental Systems and Societies</li>	
	</ul>
	<br>
		
	<li> University of Bristol - Foundation Program</li>
	<p> This foundation program honed my creative, critical, and analytical writing as well as providing me with insight into Newtonian physics and useful Mathematical concepts. </p>
	<p> Classes:</p>
	
	<ul>
		<li> Foundations of Physics</li>
		<li> Mathematics for STEM</li>
		<li> Accelerated Language and Literacy </li>
		<li> Language and Communications</li>
		
	</ul>
	<br>
	
	<li> University of Bristol - Aerospace Engineering</li>
	<p> Although I had to withdraw from this course for health reasons, I still managed to learn quite a lot about about myself and got a taster of the world of engineering. </p>
	<p> Classes: </p>
	
	<ul>
		<li> Fundamentals of Aero. Eng.</li>
		<li> Engineering Mathematics </li>
		<li> Engineering by Investigation</li>
		<li> Engineering Science</li>
		<li> Engineering by Design</li>	
	</ul>
	<br>

		
</ul>

<h2> Skills </h2>
<ul> 
	<li> Basic Python </li>
	<li> Command Line Programming</li>
	<li> Basic SQL</li>
	<li> Basic HTML</li>
	<li> NumPy and Pandas Data processing</li>
	<li> Semi-Fluent Spanish</li>
	<li> Scientific Report Writing</li>
	<li> Critical Discourse Analysis</li>
	<li> Comparative Reviews </li>
</ul>

<h1> Work Experience </h1>
<ul>
	<li> Triathlon Zimbabwe Marketing Assistant </li>
	<p> 		In this internship, my duty was to take pictures of racers during 	the ZimTri events. I was then tasked with sorting through the photographs and uploading them to social media accounts. See my LinkedIn page for the link to some of my uploads. </p>
	
	<li> RAF Museum London</li>
	<p> Whilst volunteering at the museum, I helped employees to organise their open air cinema event which they held over the summer in 2022. </p>

	<li> University of Bristol Dog Society Publicity Officer</li>
	<p> This role as a committee member in the Dog Society involved, creating posters, 	advertising the society and organising dog walking events. See my LinkedIn to find the UoB Dog Soc instagram page to see some of the activities and photos I was involved in and took. </p>

</ul>

<br>

<h2 id ="my_work"> My Writing </h2>
<p>These are essays and reports written from 2020 to 2021.</p>
<ul>
	<li><b>SPSE Essay:</b> <a target = "_blank" href = "https://docs.google.com/document/d/1I9KvLcxkAa2hNl6ON3MZYgszkfvDaVCf1mfBoBJLJo8/edit?usp=sharing" /> Reaching Sustainable Development Goal 9. </a>
</li>

	<li><b>CDA El Erian:</b> <a target = "_blank" href = "https://docs.google.com/document/d/1I-3U9cdMZFHMgw2o8yuOWh_bY6yCKG6gNzewQ2iw62o/edit?usp=sharing" /> A Critical Discourse Analysis on El Erian. </a>
</li>

	<li><b>CDA PlanetPlanet Blog:</b> <a target = "_blank" href = "https://docs.google.com/document/d/1F1UMLwi_iqxwoyMImDPVPr8q5Sob4NmzPPTIeeRo0Kw/edit?usp=sharing" /> A Critical Discourse Analysis on PlanetPlanet Blog. </a>
</li>

	<li><b>CCR Online Learning:</b> <a target = "_blank" href = "https://docs.google.com/document/d/1cds1MZpk8bn0HwajbHgujEBWIFbPxRX0jWQEfjeRiiI/edit?usp=sharing" /> A Critical Comparative Review on Online Learning. </a>
</li>

	<li><b>Formal Lab:</b> <a target = "_blank" href = "https://docs.google.com/document/d/1To9IT7Z4Iaob22cRQ4M13I3xr3wFrtwQeig-zWvY-XQ/edit?usp=sharing" /> Lab Report on the Coefficient of Restitution. </a>
</li>

</ul>

<a href="#bio" style="color:white;">Back to the top</a>

<br>
<br>

<a target ="_blank" href = "https://www.pinterest.com/pin/247838785729401078/"> Background From Here </a>

</html>
	






	
