<!DOCTYPE html>

<html> 
<head>

    <link rel="stylesheet" href= "/static/blogsheet.css" type = "text/css">
    <title>{% block title %}Blog:{{post.title}}{% endblock %}</title>

</head>



{% if post.id > 0%}
	<h1>{{post.title}}</h1>
	<p> Written on {{post.date}} </p>
	<div id = "body"> 
	<p style = "text-align:justify; font-family:'Times New Roman', Times, serif">{{post.body|linebreaks}}</p>
	<br> 
	<p>{{post.by_line}}</p>
	<p> {{post.signature}}</p>
	<br>
	<h3>Works Cited</h3>
	<p>{{post.works_cited|linebreaks}}</p>
	</div>

{% else %}
	<h1> My posts</h1>
	{% for post in object_list %}
        	<h5>{{ post.date|date:"Y-m-d" }}<a href="/blog/{{post.id}}">
	{{ post.title }}</a></h5>
    	{% endfor %}


{% endif %}

</html>





