{% load static %}

<!DOCTYPE html>

<html>


  <head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href = "/static/home_page.css" rel = "stylesheet" type = "text/css">

</head>


<div id = 'top' class = 'row' style = "background-color: black; background-image:  url('{%static 'assets/LYF.jpg'%}'); background-size: 250px 150px; background-repeat: no-repeat;background-position: top center;";>
  <div class = "col-md-4">
  </div>

  <div class = 'col-md-4'>
		<h1 style = 'color:white;'> L Y F </h1><p style = 'color:red;'> ™</p>
    <br>
    <br>
  </div>
  
</div>

<div id = "container">
<div class = 'row'  >
    <div class = "col-md-6">
      <a class = 'btn btn-secondary btn-lg btn-block' href = '//127.0.0.1:8000/home'>Home</a>

      <a class = 'btn btn-secondary btn-lg btn-block' href = '//127.0.0.1:8000/merch'>Merch</a>

      <a class = 'btn btn-secondary btn-lg btn-block' href = '//127.0.0.1:8000/albums'>Albums</a>

    </div>
 </div>



<div class= "row " id = "welcome" style = "padding-top: 5%">

      
      <p> This stange thing that we call life is confusing, vivd, yet, beuatiful. 
        Fully immersing ourselves in it bears joys that most are too afraid to seek. 
        We spend our lives lost, looking for nonexistent, overly specific, and complicated fixes for small issues. 
        Issues which we make larger than life in our own heads.
        Yet, we can find ourselves simply through spending time with people who elevate us.
        These special people help us see that we are all always lost, trying to figure things out.
        There is no end goal to life, it is an everyday process.  </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 style = 'font-size: 40px'> Lost Yet Found Tour 2023 </h2>
        <p style = "text-decoration: underline; text-decoration-thickness: 1px;">
        <b >20.02</b> Seattle, WA &emsp; &emsp; Wizards Arena
        <br>
        <b >25.02</b> Vancouver, BC &emsp; &emsp; UBC Theatre
        <br>
        <b >5.03</b> San Fransisco, CA &emsp; &emsp; Del's House
        <br>
        <b >10.03</b> San Diego, CA &emsp; &emsp; Toyota Center
        <br>
        <b>20.03</b> Worescter, MA &emsp; &emsp; AW Arena 
        <br>
        <b >10.03</b> Syracuse, NY &emsp; &emsp; Madison Square Garden
        <br>
        <b >21.03</b> Boston, MA &emsp; &emsp; Celtics Staidum
        <br>
        <b >27.03</b> London, UK &emsp; &emsp; 02 Academy 
        <br>
        <b>5.03</b> Bristol, UK &emsp; &emsp; Rough Trade
        <br>
        <b >5.03</b> Belfast, UK &emsp; &emsp; 02 Academy
        <br>
        </p>

  </div>



</div>
 



</html>