
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  
  
  .content{
    position: relative;
  
  }
  
  .center{
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-100%, -100%);
    transform: translate(-70%, 250%);
  }
  
  
  #myBtn {
    width: 400px;
    font-size: 50px;
    border-block-color: black;
    background: transparent;
    color: white;
    cursor: pointer;
    position: center;
  }
  
  #myBtn:hover {
    font-size: 55px;
    color: black;
  }