


html{

	color: white;
	font-family: Times New Roman;
	background-color: black;
	background-image: url('{% static 'black.gif' %}');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 1000px 800px;
	background-position: center;

	
}

body{
	padding: 16px;
}

#bio{
	display:grid;
}

header{

	grid-column:1/7;
	grid-row: 1;
	

}

img{

	float:left;
	width:400px;
	padding: 15px;
	height:px;
	
}


		

	
a:link{
	color: grey;
}

a:visited{
	color: grey;
}

a:hover{
	color: black;
	text-decoration: underline;
}

ul p{
	margin-right: 700px;
}


